# frontend
basaltpass-frontend/node_modules/
basaltpass-frontend/dist/

basaltpass-frontend/apps/admin/node_modules
basaltpass-frontend/apps/admin/dist/
basaltpass-frontend/apps/tenant/node_modules
basaltpass-frontend/apps/tenant/dist/
basaltpass-frontend/apps/user/node_modules
basaltpass-frontend/apps/user/dist/

# backend
.env

# general
.DS_Store
.env.local
.env.development.local
.env.test.local
*.db
basaltpass-backend/basaltpass.db
basaltpass-backend/main.exe

# development tools
.vscode/
.vscode-test/
.idea/
basaltpass-frontend/.vscode/
basaltpass-backend/.vscode/
basaltpass-frontend/.idea/
basaltpass-backend/.idea/

# config
basaltpass-backend/config/config.yaml

# local dev runtime (pids/logs)
.basaltpass-dev/

# log
.logs